<svg width="1116px" height="767px" viewBox="0 0 1116 767" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="TECH-ACTION" transform="translate(-42.000000, -74.000000)" stroke-width="1.02399982" stroke="#000000">
            <g id="GRID" transform="translate(43.000000, 74.000000)">
                <g id="Group-12">
                    <path d="M1114.50011,1 L0,1" id="Stroke-12"></path>
                    <path d="M712.96875,276.460938 L1114,1" id="Stroke-32"></path>
                    <path d="M0,1 L399.824219,275.9375" id="Stroke-34"></path>
                    <path d="M278,1 L479.146429,275.550439" id="Stroke-36"></path>
                    <path d="M557,1 L557,275.997575" id="Stroke-38"></path>
                    <path d="M836,1 L637.5,276.5" id="Stroke-40"></path>
                    <path d="M784,74 L783,74" id="Stroke-93"></path>
                    <path d="M1007.50014,74 L106.499861,74" id="Stroke-94"></path>
                    <path d="M740,133 L741,133" id="Stroke-142"></path>
                    <path d="M921.500171,133 L191.732265,133" id="Stroke-146"></path>
                    <path d="M852,181 L261.421893,181" id="Stroke-195"></path>
                    <path d="M706,181 L705,181" id="Stroke-203"></path>
                    <path d="M677,220 L677.452,220" id="Stroke-286"></path>
                    <path d="M318.462123,220 L795.500262,220" id="Stroke-288"></path>
                    <path d="M751.500321,250 L362.499678,250" id="Stroke-354"></path>
                    <path d="M654,250 L654.366,250" id="Stroke-357"></path>
                    <path d="M399.499603,276 L713.500398,276" id="Stroke-401"></path>
                    <path d="M636,276 L636.297,276" id="Stroke-403"></path>
                </g>
                <g id="Group-12-Copy" transform="translate(557.500000, 628.000000) scale(1, -1) translate(-557.500000, -628.000000) translate(0.000000, 489.000000)">
                    <path d="M1114.50011,1 L0,1" id="Stroke-12"></path>
                    <path d="M712.96875,276.460938 L1114,1" id="Stroke-32"></path>
                    <path d="M0,1 L399.824219,275.9375" id="Stroke-34"></path>
                    <path d="M278,1 L479.146429,275.550439" id="Stroke-36"></path>
                    <path d="M557,1 L557,275.997575" id="Stroke-38"></path>
                    <path d="M836,1 L637.5,276.5" id="Stroke-40"></path>
                    <path d="M784,74 L783,74" id="Stroke-93"></path>
                    <path d="M1007.50014,74 L106.499861,74" id="Stroke-94"></path>
                    <path d="M740,133 L741,133" id="Stroke-142"></path>
                    <path d="M921.500171,133 L191.732265,133" id="Stroke-146"></path>
                    <path d="M852,181 L261.421893,181" id="Stroke-195"></path>
                    <path d="M706,181 L705,181" id="Stroke-203"></path>
                    <path d="M677,220 L677.452,220" id="Stroke-286"></path>
                    <path d="M318.462123,220 L795.500262,220" id="Stroke-288"></path>
                    <path d="M751.500321,250 L362.499678,250" id="Stroke-354"></path>
                    <path d="M654,250 L654.366,250" id="Stroke-357"></path>
                    <path d="M399.499603,276 L713.500398,276" id="Stroke-401"></path>
                    <path d="M636,276 L636.297,276" id="Stroke-403"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
