<header class="global-header">
	<div class="header-nav">
		<a href="/" class="dsa-logo-link">
			<figure class="dsa-logo"></figure>
		</a>
		<nav class="nav-list">
			<input type="checkbox" id="nav" class="hidden"/>
			<label for="nav" class="nav-open"><i></i><i></i><i></i></label>
			<div class="nav-container">
				<ul>
					<li><a href="/materials" class="nav-item">Blog</a></li>
					<li><a href="https://internetforall.nyc/" class="nav-item">I4A</a></li>
					<li><a href="/posts/principles-on-technology" class="nav-item">Principles</a></li>
					<li><a href="/calendar" class="nav-item">Calendar</a></li>
					<li><a href="https://secure.actblue.com/donate/techaction" class="nav-item">Contribute</a></li>
					<li><a href="/join-us" class="nav-item link-cta">Join Us</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
