<header class="global-header">
	<div class="header-nav">
		<a href="/" class="dsa-logo-link">
			<figure class="dsa-logo"></figure>
		</a>
		<nav class="nav-list">
			<input type="checkbox" id="nav" class="hidden"/>
			<label for="nav" class="nav-open"><i></i><i></i><i></i></label>
			<div class="nav-container">
				<ul>
					<li><a href="/infosec" class="nav-item">infosec</a></li>
					<li><a href="/blog" class="nav-item">blog</a></li>
					<li><a href="/materials" class="nav-item">materials</a></li>
					<li><a href="/join-us" class="nav-item link-cta">Join Us</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
