<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	{% include meta.html %}
	<link rel="stylesheet" href="/assets/main.css">
	<link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
</head>
<body>
	<div style="width:0;height:0;display:none"><a href="/"><svg href="/assets/images/logo.svg" /></a></div>
	{% include header.html %}
	<main class="homepage">
		{{ content }}
	</main>
	{% include footer.html %}
	{% include analytics.html %}
</body>
</html>
