.footer {
    padding: 60px 0;
    .social-links-list {
        text-align: center;
        margin-bottom: 2em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-links-item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 40px;
        @include viewport(md) {
            padding: 0 20px;
        }
        @include viewport(sm) {
            padding: 0 14px;
        }
    }
    .social-link {
        display: block;
        &:hover {
            svg {
                transform: rotate(14deg) scale(1.1, 1.1);
            }
        }
        svg {
            width: 76px;
            transition: all 400ms ease;
            @include viewport(md) {
                width: 56px;
            }
            @include viewport(sm) {
                width: 40px;
            }
        }
    }
}

.footer-paragraph {
    @include fluid-value(font-size, 12px, 14px);
    a {
        color: $red;
        text-decoration: none;
    }
    &.spacing {
        margin-bottom: 2em;
    }
}
