.console-wrapper {
	.console-head {
		text-align: center;
		background-color: #D3D3D3;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	.console {
		@include fluid-value(font-size, 32px, 48px);
		font-weight: 600;
		height: 320px;
		margin: 0;
		background-color: #FDF6E5;
		@include fluid-value(padding, 10px 30px, 20px 60px);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		li {
			list-style: none;
			position: relative;
			color: $red;
			&.active {
				&:before {
					opacity: 1;
				}
			}
			&:before {
				content: '>';
				position: absolute;
				left: -40px;
				top: -6px;
				opacity: 0;
				transition: opacity 0.1s ease;
			}
		}
		.typed-cursor {
			display: none;
		}
	}
}
