body.base {
	background: linear-gradient(to bottom, #EC1F27 0%, #FF007F 42%, #B292FF 100%);
	.section {
		margin-bottom: 80px;
		@include viewport(md) {
			margin-bottom: 60px;
		}
		@include viewport(sm) {
			margin-bottom: 40px;
		}
	}
	.header-nav {
		.nav-list {
			.nav-item {
				color: $black;
				@include viewport(sm) {
					color: white;
				}
				&:hover {
					color: white;
				}
				&.link-cta {
					color: white;
					background-color: $black;
					&:hover {
						background-color: white;
						color: $black;
					}
				}
			}
		}
		.nav-open {
			i {
				@include viewport(sm) {
					background: $black;
				}
			}
		}
	}
	.sound {
		display: block;
		width: 40px;
		height: 37px;
		background-size: 40px auto;
		position: fixed;
		top: 20px;
		right: 20px;
		&.off {
			background-image: url('/assets/images/sound-off_lg_2x.png');
		}
		&.on {
			background-image: url('/assets/images/sound-on_lg_2x.png');
		}
	}
	.box {
		background-color: white;
		border: 5px solid $black;
		position: relative;
		&.small {
			width: 300px;
			height: 300px;
		}
		&.medium {
			width: 300px;
			height: 450px;
		}
		.box-text {
			position: relative;
			font-size: 28px;
			padding: 20px;
			font-weight: 800;
			line-height: 1.2;
		}
	}
	.homepage-header {
		.hero-wrapper {
			width: 80%;
			margin: 0 auto;
			display: block;
			position: relative;
			height: auto;
			margin-top: -100px;
			z-index: -1;
		}
		.globe-container {
			position: relative;
			width: 60%;
			margin: 100px auto;
			height: 0;
			padding-bottom: 60%;
			border-radius: 50%;
			overflow: hidden;
		}
		.globe {
			background-image: url('/assets/images/globe-texture_lg_2x.jpg');
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			transform: scale(1.4, 1.4);
			animation: move-left-to-right 10s cubic-bezier(0.18, 0.01, 0.82, 0.99) infinite;
		}
		.globe-text {
			position: absolute;
			width: 100%;
			height: 100%;
			max-width: 640px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			line-height: 1;
			.dsa {
				align-self: flex-end;
			}
			.working-group, .tech-action {
				align-self: flex-start;
			}
			.dsa, .working-group {
				color: black;
				@include fluid-value(font-size, 32px, 50px);
				font-weight: 800;
			}
			.tech-action {
				color: white;
				@include fluid-value(font-size, 68px, 100px);
				font-weight: 800;
			}
		}
	}
	.footer-paragraph {
		a {
			color: white;
			&:hover {
				color: black;
			}
		}
	}
}
body.base .homepage-content {
	.container.flex-container {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		margin: 100px auto;
		@include viewport(md) {
			margin: 80px auto;
		}
		@include viewport(sm) {
			margin: 60px auto;
		}
		&.flex-container-md {
			@include viewport(md) {
				max-width: 740px;
				flex-direction: row;
			}
			@include viewport(sm) {
				flex-direction: column;
			}
		}
		@include viewport(md) {
			flex-direction: column;
			align-items: center;
		}
	}
	.harrington-quote {
		width: 620px;
		padding: 50px;
		p {
			@include fluid-value(font-size, 18px, 23px);
			@include fluid-value(margin-bottom, 16px, 21px);
		}
		footer {
			@include fluid-value(font-size, 14px, 20px);
		}
		@include viewport(sm) {
			width: 100%;
		}
	}
	.petal-drop {
		width: 320px;
		height: auto;
		margin-left: -300px;
		margin-top: 130px;
		z-index: 1;
		@include viewport(md) {
			margin-top: 80px;
			margin-left: 0;
		}
		@include viewport(sm) {
			width: 100%;
			margin-top: 40px;
		}
	}
	.wondered {
		width: 90%;
		@include fluid-value(font-size, 34px, 110px);
		font-weight: 900;
		padding: 45px 80px 145px 80px;
		transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition-delay: 1s;
		.large {
			text-transform: uppercase;
			display: block;
		}
		&.in-viewport {
			background-color: $lavender;
			color: $peach;
		}
		@include viewport(md) {
			width: 100%;
			padding: 25px 40px 80px 40px;
		}
	}
	.labor {
		@include viewport(md) {
			margin-top: -100px;
		}
		@include viewport(sm) {
			margin: 0;
			margin-bottom: 60px;
		}
		.figure {
			background-image: url('/assets/images/pokemon.gif');
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover;
		}
	}
	.big-tech {
		margin-left: -220px;
		margin-top: 200px;
		@include viewport(sm) {
			margin: 0;
			margin-bottom: 60px;
		}
	}
	.vaporwave {
		margin-left: -140px;
		margin-top: 30px;
		@include viewport(md) {
			margin-left: -10px;
		}
		@include viewport(sm) {
			margin: 0;
		}
		.figure {
			background-image: url('/assets/images/vaporwave.gif');
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
		.box-text {
			top: 270px;
		}
	}
	.illuminati {
		margin-top: -200px;
		margin-left: 100px;
		z-index: -1;
		@include viewport(md) {
			margin-left: 0;
		}
		@include viewport(sm) {
			margin: 0;
			margin-bottom: 60px;
		}
		.figure {
			background-image: url('/assets/images/illuminati.gif');
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover
		}
		.box-text {
			top: 200px;
		}
	}
	.nyancat {
		margin-top: 180px;
		@include viewport(md) {
			margin-top: 260px;
			margin-left: -160px;
		}
		@include viewport(sm) {
			margin: 0;
			margin-bottom: 60px;
		}
		.figure {
			background-image: url('/assets/images/nyancat.gif');
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover
		}
		.box-text {
			color: white;
			top: 80px;
		}
	}
	.vr {
		margin-left: -180px;
		@include viewport(md) {
			margin-top: -140px;
			margin-left: -90px;
		}
		@include viewport(sm) {
			margin: 0;
		}
		.figure {
			background-image: url('/assets/images/vr.gif');
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover
		}
	}
	.ticker {
		background-color: $purple;
		margin-bottom: 400px;
		width: 100%;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		@include viewport(md) {
			margin-bottom: 120px;
		}
		@include viewport(sm) {
			margin-bottom: 60px;
		}
		.ticker-text {
			font-family: monospace;
			font-weight: 800;
			font-size: 2vw;
			text-align: center;
			color: $red;
			line-height: 1;
			display: inline-block;
			padding: 0;
			@include fluid-value(padding-top, 20px, 40px);
			@include fluid-value(padding-bottom, 20px, 40px);
			width: 100%;
			transform: translateX(-100%);
			animation: ticker 15s linear infinite;
		}
	}
	.callout-section {
		margin-bottom: 400px;
		@include viewport(md) {
			margin-bottom: 160px;
		}
		@include viewport(sm) {
			margin-bottom: 80px;
		}
		.callout-text {
			color: $yellow;
			@include fluid-value(font-size, 30px, 90px);
			font-weight: 600;
			line-height: 1;
			margin-bottom: 2em;
			@include viewport(md) {
				margin-bottom: 1.5em;
			}
			@include viewport(sm) {
				margin-bottom: 1em;
			}
		}
		.callout-rose {
			background-image: url('/assets/images/rose-hi-def_lg_2x.png');
			@include image-size(254px, 186px);
			position: sticky;
			top: 60px;
			float: right;
			@include viewport(md) {
				float: none;
				left: 80%;
			}
			@include viewport(sm) {
				@include image-size(127px, 93px);
			}
		}
	}
	.mailchimp-container {
		position: relative;
		margin-bottom: 400px;
		.signup-gif {
			// position: absolute;
			// top: -200px;
			// right: -100px;
			background-image: url('/assets/images/running.gif');
			@include image-size(500px, 312px);
			z-index: 1;
		}
		@include viewport(md) {
			margin-bottom: 120px;
		}
		@include viewport(sm) {
			margin-bottom: 60px;
		}
		#mc_embed_signup {
			font-family: 'ManifoldDSA', sans-serif !important;
			border: 5px solid $black;
			background-image: url('/assets/images/rose-light.gif');
			background-size: cover;
			background-position: center center;
		}
	}
	.posts-container {
		width: 50%;
		background-color: white;
		padding: 40px;
		position: sticky;
		top: 20px;
		margin-bottom: 0;
		@include viewport(md) {
			position: relative;
			width: 100%;
			margin-bottom: 100px;
		}
		@include viewport(sm) {
			margin-bottom: 80px;
		}
		.post-title {
			margin-top: 0;
		}
	}
	.twitter-container {
		width: 378px;
		height: 1200px;
		overflow: scroll;
		position: relative;
		padding-top: 56px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		border: 1px solid #eee;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: white;
		margin-top: 210px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 56px;
			background-image: url('/assets/images/desktop-border_lg_2x.png');
			@include image-size(378px, 56px);
		}
		@include viewport(md) {
			max-width: 100%;
			padding: 0;
			margin-top: 0;
		}
	}
}
/****************
*
* ANIMATIONS
*
*****************/
body.base {
	.scroll-trigger {
		.box {
			opacity: 0;
			transform: scale(0.6, 0.6) translateY(200px);
			transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
			&.labor {
				transition-delay: 1000ms;
			}
			&.big-tech {
				transition-delay: 200ms;
			}
			&.vaporwave {
				transition-delay: 600ms;
			}
			&.illuminati {
				transition-delay: 600ms;
			}
			&.nyancat {
				transition-delay: 1000ms;
			}
			&.vr {
				transition-delay: 200ms;
			}
		}
		#mc_embed_signup {
			opacity: 0;
			transform: scale(0.6, 0.6) rotate(47deg);
			transition: transform 1200ms cubic-bezier(.17,.67,.24,1.51), opacity 800ms ease;
		}
		&.in-viewport {
			.box {
				opacity: 1;
				transform: scale(1, 1) translateY(0);
			}
			#mc_embed_signup {
				opacity: 1;
				transform: scale(1, 1) rotate(0deg);
			}
		}
	}
}
@keyframes ticker {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
@keyframes move-left-to-right {
    0%, 100% {
        transform: scale(1.4, 1.4) translateX(-30px);
    }
    66% {
        transform: scale(1.4, 1.4) translateX(30px);
    }
}
