---
layout: base
---
<section class="section homepage-header">
	<h1>This will contain the header animation intro whatever</h1>
</section>
<section class="section manifesto">
	<div class="container thin">
		<blockquote>
			<p>If there is technological advance without social advance, there is, almost automatically, an increase in human misery, in impoverishment.</p>
			<footer>— Michael Harrington, <em>The Other America</em>, 1962</footer>
		</blockquote>
		<h3 class="manifesto-header">Have you ever wondered...</h3>
		<p>What is the role of labor in the tech industry?</p>
		<p>What does class have to do with internet access?</p>
		<p>How does Facebook make money?</p>
		<p>Is Google reading my emails?</p>
		<p>How does Big Tech influence economic, education, housing, and criminal justice policy?</p>
		<h3 class="manifesto-header">How can I take control of the technology in my life instead of it controlling me?</h3>
		<div class="red">
			<p>The NYC Tech Action Working Group wants to help you find answers!</p>
			<p>We're developing a socialist perspective on technology and society, creating alternatives to the status quo, and thinking up strategies to challenge the tech industry's growing power.</p>
		</div>
		<h1 class="manifesto-cta">Join us!</h1>
	</div>
</section>
<section class="section homepage-content">
	<div class="container">
		<div class="posts-container">
			{% for page in site.posts limit:1 %}
				<div class="post" id="post-{{ page.id }}">
					{% include post-header.html %}
					<article class="post-body">
						<div class="post-html">{{ page.content | truncatewords: 50 }}...</div>
						<div class="post-url">
							<a href="{{page.url}}" class="post-link link-cta">Read more</a>
						</div>
					</article>
				</div>
			{% endfor %}
		</div>
		<div class="twitter-container">
			<a class="twitter-timeline" href="https://twitter.com/NYCDSATechWG?ref_src=twsrc%5Etfw">Tweets by NYCDSATechWG</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</section>
