---
layout: posts
permalink: /materials/
---

<div class='posts-container'>
	{% for page in site.posts %}
		{% if page.categories contains 'materials' %}
			<div class="post" id="post-{{ page.id }}">
				{% include post-header.html %}
				<article class="post-body">
					<div class="post-html">{{ page.content | truncatewords: 50 }}...</div>
					<div class="post-url">
						<a href="{{page.url}}" class="post-link link-cta">Read more</a>
					</div>
				</article>
			</div>
		{% endif %}
	{% endfor %}
	<div class="more-link">
		<a href="/archive/materials" class="post-link link-cta">All Materials</a>
	</div>
</div>

